name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: rm -f bun.lock; bun ci

      - name: Build packages
        run: bun run build

      - name: Determine npm tag
        id: npm-tag
        run: |
          version="$GITHUB_REF_NAME"

          if [[ $version == *"beta"* ]]; then
            tag=beta
          elif [[ $version == *"alpha"* ]]; then
            tag=alpha
          else
            tag=latest
          fi

          echo "tag=$tag" >> $GITHUB_OUTPUT
          echo "publishing with tag: $tag"

      - name: Publish
        run: |
          for pkg_json in packages/*/package.json; do
            pkg_dir=$(dirname "$pkg_json")
            pkg_name=$(node -p "require('./$pkg_json').name")

            bun pm pack
            tarball=$(ls *.tgz)

            echo "publishing $pkg_name ($pkg_dir)"

            if npm view "$pkg_name" version &>/dev/null; then
              (
                cd "$pkg_dir" || exit 1

                npm publish "$tarball" \
                  --access public \
                  --tag ${{ steps.npm-tag.outputs.tag }}

                rm -f "$tarball"
              )
              echo "successfully published $pkg_name"
            else
              echo "package $pkg_name does not exist on npm yet"
            fi

            echo
          done
